<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <div class="nav navbar-nav">
      <ul>
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">About</a></li>
        <li class="nav-item"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="row">
      <p>
        <button type="button" class="btn">Some button</button>
      </p>
    </div>
    <div class="row">
      <p>
        <button type="button" class="btn">More button</button>
        </p>
    </div>
    <div class="row">
      <p>
        <button type="button" class="btn">Did you say button?</button>
        </p>
    </div>
  </div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
